@import './styles/typography.scss';
@import './styles/variables.scss';

body {
  font-family: 'Inter';
}

p, h2, h4 {
	margin: 0;
}

.mapboxgl-map {
	font-family: 'Inter';

	h2 {
		font-weight: normal;
		font-size: 14px;
	}
}